<!--The content below is only a placeholder and can be replaced.-->
<!--<mat-checkbox #show [value]="val" [checked]="isChecked" (onChange)="onChange($event)">Check me!</mat-checkbox>
<div *ngIf="show.checked">Show Detailssssss</div>   -->
<mat-toolbar  color="primary" >Simplyst
        <span class="example-spacer"></span>
       <!-- <mat-icon class="example-icon">account_box</mat-icon> <a href="/signup">Register</a>  -->
        <mat-icon class="example-icon">verified_user</mat-icon>  <a routerLink="/login">Login</a>
       
</mat-toolbar>
<div><router-outlet></router-outlet></div>

<!--

<app-signup></app-signup>


<app-login></app-login>

-->
<div ng-app='StarterApp' ng-controller='AppCtrl' layout='column' layout-fill></div>



